<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>TareaFinal</display-name>
    <servlet>
        <servlet-name>InsertarUsuario</servlet-name>
        <servlet-class>com.mycompany.tareafinal.InsertarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarTodos</servlet-name>
        <servlet-class>com.mycompany.tareafinal.BuscarTodos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarId</servlet-name>
        <servlet-class>com.mycompany.tareafinal.BuscarId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar</servlet-name>
        <servlet-class>com.mycompany.tareafinal.Borrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar</servlet-name>
        <servlet-class>com.mycompany.tareafinal.Actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarUsuario</servlet-name>
        <url-pattern>/insertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarTodos</servlet-name>
        <url-pattern>/buscartodos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarId</servlet-name>
        <url-pattern>/buscarid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar</servlet-name>
        <url-pattern>/borrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar</servlet-name>
        <url-pattern>/actualizar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
